body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;

	background-color: #0a0a0a;
}

p {
	text-align: justify;
	text-indent: 25px;
}

a {
	text-decoration: none;
	color: white;
}

.container {
	color: white;
	max-width: 75%;
	margin: 0 auto;
}

.header {
	background-image: url("images/background-header.jpeg");
	color: white;
	padding: 10px 0;
	font-size: 1.2rem;
	font-weight: bold;
	border-bottom: 2px solid white;
}

.main-menu {
	text-align: center;
}

.main-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;

}

.main-menu li {
	display: inline-block;
	margin-right: 20px;
}

.main-menu a {
	position: relative;
	
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.main-menu a:after {
	display: block;
	position: absolute;
	left: 0;
	width: 0;
	height: 2px;
	content: "";
	transition: width 0.5s ease-out;

	background-color: white;
}

.main-menu a:hover:after,
.main-menu a:focus:after {
	width: 100%;
}

.text-align {
	text-align: center;
	color: white;
}

.text-align h2,
.text-align h3 {
	margin: 5px;
}

main h3 {
	text-align: center;
	margin-bottom: 80px;
}

.pictures {
	text-align: center;
}

.pictures .mars {
	width: 500px;
	height: 500px;
}

.pictures .saturn {
	width: auto;
	height: 500px;
}

.pictures .neptun {
	width: 500px;
	height: 500px;
}

.pictures .jupiter {
	width: 500px;
	height: 500px;
}

.btn {
	display: inline-block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	font-weight: bold;
	padding: 10px;
	margin-bottom: 50px;
}

.btn:hover {
	border: 1px solid black;
	color: black;
	background-color: white;
	transition: 0.35s;
}

#about {
	border-bottom: 1px solid white;
}

#skills {
	border-bottom: 1px solid white;
}

#skills p {
	margin-bottom: 50px;
}

#technologies {
	border-bottom: 1px solid white;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin: auto;
	margin-bottom: 50px;
}

th, td {
	border: 2px solid white;
	padding: 10px 20px;
}

th {
	background: #ab7d5c;
}

td {
	background: #bd987e;
}

.footer {
	background-image: url("images/background-header.jpeg");
	color: white;
	padding: 10px 0;
	font-size: 1.2rem;
	font-weight: bold;
	border-top: 2px solid white;
}

.footer .container {
	text-align: center;
}