body, main {
    min-height: 100vh;
    background-image: url("dead-inside.jpg");
    font-family: 'Lobster', cursive;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: black;
    width: 300px;
    height: 278px;
    border: 3px solid red;
    border-radius: 5%;
}

.buttons {
    display: flex;
}

.digits {
    width: 180px;
}

.other {
    width: 120px;
    border-left: 2px solid red;
}

.digits button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.other button {
    margin: 2px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.screen {
    height: 60px;
    text-align: end;
    border-bottom: 2px solid red;
}

.screen span {
    margin-right: 40px;
    font-weight: bold;
    font-size: 20px;
    color: red;
    word-wrap: break-word;
}