.sidebar,
.header,
.footer,
.scroll-to-top-btn {
    display: none;
}

.product-list {
    justify-content: center;
}

.product-category-header {
    text-align: center;
}

.page-content-header {
    text-align: center;
}

.control .btn {
    border: 1px solid black;
    color: black;
}

.product-card {
    margin-bottom: 125px;
}




